<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= item.title %></title>
  </head>

  <body>
    <h1><%= item.title %></h1>
    <p>
      Current second:
      <%= item.seconds %>
    </p>


   <% if (item.seconds % 2===0){ %> 
    <ul>
      <% for(let i=0; i<item.items.length; i++) { %>
        <li>
           <%= item.items[i] %> 
          </li>
      <% } %>
    </ul>
    <% } else{ %>
       <p>No items to display</p> 
   <% } %>
    
    <p>
       <%-  item.htmlContent %>
    </p>

    <%- include("footer.ejs") %>
  </body>
</html>
